@import "tailwindcss";




/*    css  */
.page-container {
  padding-bottom: 60px;
  max-width: var(--page-width-max);
}


.elements-style {
  color: var(--elements-color);
  border: 1px solid var(--elements-color);
}
.elements-style-background {
  background: var(--elements-color);
  transition: box-shadow var(--transition-duration);
}
.card.elements-style-background:hover {
  box-shadow:
    20px 20px 60px #464e9c,
    -20px -20px 60px #8896ff;
}
.checkout-style {
  color: var(--checkout-color);
  border: 1px solid var(--checkout-color);
}
.checkout-style-background {
  background: var(--checkout-color);
  transition: box-shadow var(--transition-duration);
}
.card.checkout-style-background:hover {
  box-shadow:
    20px 20px 60px #614b91,
    -20px -20px 60px #bd91ff;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.card-number {
  display: inline;
  white-space: nowrap;
  font-family: Menlo, Consolas, monospace;
  color: #3c4257;
  font-weight: 500;
}
.card-number span {
  display: inline-block;
  width: 4px;
}



@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .card {
    display: block;
    border-radius: 8px;
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 0;
  }

  code,
  pre,
  h3 {
    display: none;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}